/* ========== FOOTER SECTION ========== */
footer{
    margin-top:230px;
    margin-bottom: 10px;
}

.footer-flex-item:first-of-type{
    max-width: 779px;
}
.footer-flex-item:last-of-type{
    text-align: right;
}

.footer-link-take-action:link,.footer-link-take-action:visited{
    color: black;
    display: inline-block;
    margin-top: 10px;
}
.footer-link-take-action::after{
    content: "";
    display: block;
    background:black;
    height: 2px;
    width: 100%;
}

.footer-email{
    font-family: font-mono !important;
    display: block;
    font-size: 30px;
    line-height: 45px;
    color: black;
    margin-top: 10px;
}
.footer-links-a{
    font-size: 30px;
    line-height: 36px;
    color: black;
}
.comming-soon-text{
    color: rgba(0, 0, 0, 0.432);
    margin-top: 70px;
}

.footer-copyright{
    font-size: 16px;
    margin-top:50px;
}

.footer-copyright-item a{
    color: black;
}

.footer-copyright-item a i{
    font-size: 24px;
}
.footer-copyright-item a i:first-of-type{
    margin-right: 20px;
}
