:root{
    --black: #070606;
    --white:  #F9F9F9;
    --dark-white: #808080;
}


nav {
    margin-top: 64px;
    margin-bottom: 130px;
    font-size: 24px;
    color: var(--black);
}

.logo-text {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    margin-left: 7px;
    -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

}

.logo-text:link,
.logo-text:visited {
    color: var(--black);
}

.nav-menu-item {
    margin-left: 50px;
}


.nav-menu-item a:link,
.nav-menu-item a:visited {
    color: var(--black);
}




/* === HAMBERGER NAVIGATION ==== */
.hamberger-navigation-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background: var(--white);
    z-index: 2;
    overflow-y: scroll;
    display: none;
}

.hamberger-navigation-container header {
    margin-top: 60px;
}

.ham-header-nav__second-section {
    margin-top: 68px;
}

.ham-header-nav__first-section__links:link,
.ham-header-nav__first-section__links:visited {
    color: var(--black);
}


.ham-header-nav__first-section__text {
    color: var(--dark-white);
}

.ham-header-nav__second-section__links {
    color: var(--black);
}

.ham-nav-footer {
    margin-top: 82px;
    align-items: center;
    margin-bottom: 134px;
}

.ham-footer-flex-item i {
    font-size: 46px;
}

.close-ham-bar-btn {
    border: none;
    background-color: var(--black);
    color: white;
    width: 238px;
    height: 92px;
    cursor: pointer;
    transition: background 0.4s color 0.3s;
    -webkit-transition: background 0.4s color 0.3s;
    -moz-transition: background 0.4s color 0.3s;
    -ms-transition: background 0.4s color 0.3s;
    -o-transition: background 0.4s color 0.3s;
}

.close-ham-bar-btn:hover {
    background: #E8E7E7;
    color: var(--black);
}

.cookie-ham-notif {
    font-size: 19px;
    line-height: 23px;
    font-family: font-light;
    position: absolute;
    top: 100px;
    right: 0;
    width: 332px;
    height: 143px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;

    padding: 18px 31px 18px 21px;
    background: var(--white);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.25);
}

.cookie-ham-para {
    border-bottom: 1px solid var(--black);
    padding-bottom: 17px;
}


.close-notif-container {
    margin-top: 17px;
    position: relative;
}

.ham-close-notification-btn {
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
}




/* =================== */
/* ========= MEDIA QUERIES ========== */
@media only screen and (max-width: 834px) {
    .small-device-none {
        display: none;
    }

    nav {
        margin-bottom: 50px;
        margin-top: 46px;
    }

    .theme-change-btn {
        height: 44px;
        width: 44px;
    }
}

@media only screen and (max-width: 600px) {
    nav {
        margin-top: 40px;
        margin-bottom: 30px;
    }

    .close-ham-bar-btn {
        width: 86px;
        height: 46px;
    }

    .theme-change-btn {
        height: 24px;
        width: 24px;
    }
    .ham-footer-flex-item i {
        font-size: 30px;
    }
}