/* @import url("./fonts.css"); */

:root {
    --font-bold: font-bold;
    --font-regular: font-regular;
    --font-mono: font-mono;
    --font-light: font-light;
}




/*============== HEADER SECTION =============*/
.hero-container {
    margin-top: 40px;
}

.hero-heading, .hero-description{
    width: 770px;
}


.hero-video-placeholder {
    width: 525px;
    height: 387px;
    left: 1370px;
    top: 168px;
    overflow: hidden;
    background:green;
    border-radius: 0px 161.765px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
    -moz-transform: matrix(-1, 0, 0, 1, 0, 0);
    -ms-transform: matrix(-1, 0, 0, 1, 0, 0);
    -o-transform: matrix(-1, 0, 0, 1, 0, 0);
}

/* since we used matrix in placeholder its rotating the video so it neede a fix in the rotation */
.hero-video-placeholder video{
    transform: matrix(-1, 0, 0, 1, 0, 0);
    -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
    -moz-transform: matrix(-1, 0, 0, 1, 0, 0);
    -ms-transform: matrix(-1, 0, 0, 1, 0, 0);
    -o-transform: matrix(-1, 0, 0, 1, 0, 0);
}

.hero-description:first-of-type{
    margin-top:108px;
}




/*============== BANNER SECTION =============*/
.banner-section{
    margin-top: 240px;
    margin-bottom: 20px;
}

.banner-flex-item{
    width: 24%;
}
.banner-flex-image{
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.banner-para{
    margin-top: 30px;
}

.banner-heading{
    margin-top: 100px;
    max-width: 60%;

}



/* ==== SLIDER TEXT BANNER SECTION ======== */
.text-slider-container{
    overflow-x:hidden;
    margin-top: 140px;
    
}

.text-slider-container span{
    color: black;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
    /*Willoverridecolor(regardlessoforder)*/
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;

    font-size: 90px;
    white-space: nowrap;
    font-family: var(--font-bold);
    display:block;
    letter-spacing: 2px;
    animation:textSliderBanner 20s linear infinite;
    -webkit-animation:textSliderBanner 20s linear infinite;
}

.text-slider-paragraph{
    margin-top:100px;
    max-width:970px;
}



/* ========== FOOTER SECTION ========== */
footer{
    margin-top:230px;
}

.footer-flex-item:first-of-type{
    max-width: 779px;
}
.footer-flex-item:last-of-type{
    text-align: right;
}

.footer-link-take-action:link,.footer-link-take-action:visited{
    color: black;
    display: inline-block;
    margin-top: 10px;
}
.footer-link-take-action::after{
    content: "";
    display: block;
    background:black;
    height: 2px;
    width: 100%;
}

.footer-email{
    font-family: var(--font-mono) !important;
    display: block;
    font-size: 30px;
    line-height: 45px;
    color: black;
    margin-top: 10px;
}
.footer-links-a{
    font-size: 30px;
    line-height: 36px;
    color: black;
}
.comming-soon-text{
    color: rgba(0, 0, 0, 0.432);
    margin-top: 70px;
}

.footer-copyright{
    font-size: 16px;
    margin-top:50px;
}

.footer-copyright-item a{
    color: black;
}

.footer-copyright-item a i{
    font-size: 24px;
}
.footer-copyright-item a i:first-of-type{
    margin-right: 20px;
}




/* ===== KEYFRAMES ANIMATION ====== */
@keyframes textSliderBanner{
    0%{
        transform: translateX(0%)    ;
        -webkit-transform: translateX(0%)    ;
        -moz-transform: translateX(0%)    ;
        -ms-transform: translateX(0%)    ;
        -o-transform: translateX(0%)    ;
    }100%{
        transform: translateX(-150%);
        -webkit-transform: translateX(-150%);
        -moz-transform: translateX(-150%);
        -ms-transform: translateX(-150%);
        -o-transform: translateX(-150%);
}
}