a {
    text-decoration: none;
}

/* some universal CSS */
.bound {
    padding: 0 5%;
}

.paragraph-text{
    font-size: 30px;
    font-family: var(--font-light);
    line-height: 45px;
}

.big-heading{
    font-size: 80px;
    line-height: 96px;
    /* font-family: font-bold; */
    font-weight: 700;
}

.normal-heading{
    font-size: 55px;
    font-family: font-regular;
    font-weight: 300;
    line-height: 66px;
}


/* ===== flex setting ========= */
.display-flex {
    display: flex;
}

.d-flex-space-between {
    justify-content: space-between;
}




/* ==== display setting ========= */
.display-inline-block {
    display: inline-block;
}

.display-block{
    display: block;
}





* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-family: var(--font-regular);
    font-size: 16px;
}